body {
  background: yellow;
}
#pastry {
  text-align: center;
  margin-top: 50px;
  font-family: "Dancing Script", cursive;
}
p {
  width: 500px;
  display: block;
  margin-left: 550px;
  padding-top: 40px;
}
.contact {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
}
#mail {
  display: line;
  text-align: center;
}
.photo {
  display: block;
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
}
a {
  text-decoration: none;
  font-size: 20px;
}
